.team {
  background-color: $team-background-color;
  height: 648px;
  text-align: center;

&__title {
  @include font(36px, 700, calc(42 / 36));
  text-align: center;

  display: inline-block;
  margin-top: 94px;
  margin-bottom: 50px;
}

&__list {
  display: flex;
  justify-content: center;
}

&__item {
  width: 270px;
  height: 428px;
  @include sizes(270px, 428px);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: $main-background-color;

&:not(:last-child) {
  margin-right: 30px;
}
}

&__caption {
  @include font(16px, 500, calc(19 / 16));

  margin-top: 30px;
}

&__job {
  color: $third-text-color;
  @include font(16px, 400, calc(19 / 16));

  margin-top: 10px;
  margin-bottom: 20px;
}
}

// Social-media

.team-social-media {
  display: flex;
  justify-content: center;
  gap: 10px;

&__item {
  @include sizes(44px, 44px);
  border-radius: 50%;

&:is(:hover, :focus) {
  background: $logo-color;
  @include transition(all, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  @include animation(swing, 1.5s, 1);
  animation-delay: 150ms;
}

&:is(:hover, :focus) .team-social-media__svg {
  fill: $main-background-color;
  @include transition(fill, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}
}

&__link {
  @extend %flex-center;

  @extend %father-sizes;
}

&__svg {
  display: block;
  @include sizes(20px, 20px);
  fill: $third-text-color;
}
}