.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  @extend %father-sizes;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 15px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1); 


&__btn {
  position: relative;
  left: 475px;
  top: -7px;

  width: 30px;
  height: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

&:is(:hover, :focus) {
  fill: $logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
}

&__close-btn-svg {
  width: 13px;
  height: 13px;
}

&__name {
  position: relative;
  top: 2px;

  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);
  letter-spacing: 3%;

  text-align: center;

  margin-bottom: 11px;
}

&__form {
  display: flex;
  flex-direction: column;
}

&__label {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
}

&__input {
  width: 448px;
  min-height: 40px;

  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42.5px;

  &:is(:hover, :focus) {
  border-color: $logo-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

&__input:is(:hover, :focus) + &__svg {
  fill: $logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  animation: rubberBand;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
}

&__input-comment {
  height: 120px;
  padding-bottom: 90px;
  width: 448px;
  min-height: 40px;

  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;

  margin-bottom: 20px;
}

&__label-checkbox {
  margin: 0 auto;
  margin-bottom: 30px;
}

&__input-checkbox {
  background: $main-text-color;
}

&__span {
  color: $third-text-color;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1%;

  margin-bottom: 4px;

  &__span:last-child {
  color: $third-text-color;
  letter-spacing: 3%;
}
}

&__span-link {
  color: $logo-color;
  text-decoration: underline;
}

&__svg {
  position: absolute;
  left: 14px;
  top: 54%;
}

&__finish-btn {
  margin: 0 auto;

  color: $main-background-color;

  font-size: 16px;
  font-weight: 700;
  line-height: calc(30 / 16);
  letter-spacing: 6%;

  width: 200px;
  height: 50px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: $logo-color;
}
}